.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

/* .avatar {
  border-radius: 50%;
  margin-right: 5px;
  width: 50px;
  height: 50px;
} */
