.card {
  min-width: 112px;
  max-width: 208px;
  min-height: 136px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.border {
  border: var(--main-border);
  border-radius: var(--main-border-radius);
  margin-top: 5px;
  padding: 10px;
}

.cardText {
  text-align: center;
  margin-top: 10px;
  color: rgb(110, 110, 110);
  font-weight: 700;
}
