.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: var(--main-border);
  border-radius: var(--main-border-radius);
  padding: 5px;
}

.population {
  min-width: 180px;
}

.countries {
  min-width: 100px;
}
