.border {
  border: var(--main-border);
  border-radius: var(--main-border-radius);
  margin-top: 5px;
  padding: 10px;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  border: var(--main-border);
  border-radius: var(--main-border-radius);
  padding: 5px;  
}
